.auth-container {
  height: 30vh;
  width: 50vw;
}

.trainer-form {
  height: 25vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.form-control {
  font-size: 1.7rem;
}
