.auth-container {
  height: 30vh;
  width: 50vw;
}

.trainer-form {
  height: 25vh;
  width: 100%;
}

.form-control {
  font-size: 1.7rem;
}

.login-row {
  max-height: 95vh;

  & img {
    height: 70%;
  }

  & .col-lg-6 {
    height: 95vh;
  }
}
