<div class="row login-row">
  <div class="col-lg-6 d-flex justify-content-center align-items-center">
    <img src="../../../assets/images/ash-ketchum.png" />
  </div>
  <div class="col-lg-6 d-flex justify-content-center align-items-center">
    <form
      class="trainer-form d-flex justify-content-between flex-column bg-white shadow p-4"
      #authForm="ngForm"
      (ngSubmit)="onSubmit(authForm)"
    >
      <div class="form-group">
        <h2>Welcome Trainer!</h2>
        <hr />
        <input
          type="text"
          id="trainerName"
          class="form-control"
          placeholder="What's your name?"
          ngModel
          #username="ngModel"
          name="trainername"
          required
          minlength="2"
          autocomplete="off"
        />
      </div>
      <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <p *ngIf="username.errors?.required">Name is required</p>
        <p *ngIf="username.errors?.minlength">The name is too short</p>
      </div>
      <div class="my-3">
        <button class="btn btn-primary full-width" [disabled]="!authForm.valid">
          Start!
        </button>
      </div>
    </form>
  </div>
</div>
