<div class="row login-row">
  <div
    class="col-lg-6 d-flex justify-content-center align-items-center"
    #figureContainer
  >
    <img src="../../../assets/images/ash-ketchum.png" />
  </div>
  <div
    class="col-lg-6 d-flex justify-content-center align-items-center"
    #formContainer
  >
    <form
      class="trainer-form d-flex justify-content-between flex-column bg-main-dark shadow p-4 text-center"
      #authForm="ngForm"
      (ngSubmit)="onSubmit(authForm)"
    >
      <div class="form-group">
        <h2 class="fst-italic">Welcome Trainer!</h2>
        <hr />
        <input
          type="text"
          id="trainerName"
          class="form-control text-center"
          placeholder="What's your name?"
          ngModel
          #username="ngModel"
          name="trainername"
          required
          minlength="2"
          autocomplete="off"
        />
      </div>
      <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <p class="mb-0" *ngIf="username.errors?.required">Name is required</p>
        <p class="mb-0" *ngIf="username.errors?.minlength">
          The name is too short
        </p>
      </div>
      <div>
        <button class="btn btn-primary full-width" [disabled]="!authForm.valid">
          Start!
        </button>
      </div>
    </form>
  </div>
</div>
