<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content bg-main-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Moves for <span class="pokemon-move">{{ pokemon.name }}</span>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ul class="list-group bg-main-dark">
          <li
            class="list-group-item bg-main-dark pokemon-move text-white"
            *ngFor="let move of pokemon.moves"
          >
            {{ move.move.name }}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-primary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
