nav {
  height: 5vh;
}

.nav-link {
  cursor: pointer;
  color: #b5b9de !important;

  &:hover {
    color: #fff !important;
  }

  &.active {
    color: #fff !important;
  }
}

.navbar-brand {
  font-weight: bold;
  letter-spacing: 2px;
}
