<div *ngIf="loading" class="loader-wrapper">
  <div class="spinner-border text-white" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div *ngIf="pokemon" [ngClass]="{ 'd-none': loading }" class="row pt-5">
  <div class="col-lg-8 offset-lg-2">
    <div class="pokemon-profile">
      <h1 class="pokemon-name text-center mb-3">{{ pokemon.name }}</h1>
      <div
        class="pokemon-types text-capitalize d-flex justify-content-center align-items-center mb-2"
      ></div>
      <div class="pokemon-image position-relative">
        <h3
          class="z-index position-absolute bg-main-dark p-3 text-white rounded shadow"
          *ngIf="isPokemonCaught"
        >
          Caught!
        </h3>
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/{{
            pokemon.id
          }}.svg"
          draggable="false"
          [alt]="pokemon.name"
          class="shadow rounded-circle bg-main-dark"
          [ngClass]="{ opacity: isPokemonCaught }"
        />
        <div
          class="pokeball position-absolute"
          title="Catch {{ pokemon.name }}"
          [ngClass]="{ 'd-none': isPokemonCaught }"
          (click)="catchPokemon(pokemon)"
        >
          <img src="../../../assets/images/pokeball-alt.png" />
        </div>
      </div>
      <div class="row mt-5 p-5 rounded shadow bg-main-dark">
        <div class="col-lg-4">
          <div class="pokemon-info">
            <h3>Profile</h3>
            <p>Height: {{ pokemon.height }}</p>
            <p>Weight: {{ pokemon.weight }}</p>
            <p>Base Exp: {{ pokemon.base_experience }}</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pokemon-info">
            <h3>Base Stats</h3>
            <p *ngFor="let type of pokemon.types">Type: {{ type.type.name }}</p>
            <p *ngFor="let stat of pokemon.stats">
              {{ stat.stat.name }}: {{ stat.base_stat }}
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pokemon-info">
            <h3>Abilities</h3>
            <p *ngFor="let ability of pokemon.abilities">
              {{ ability.ability.name }}
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="col-lg-6 offset-lg-3 d-flex justify-content-center align-items-center mt-5 pb-5"
        >
          <button
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Click to see moves
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-pokemon-modal></app-pokemon-modal>
</div>
