.pokemon-name,
.pokemon-info,
.pokemon-move {
  text-transform: capitalize;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h3 {
    padding-bottom: 10px;
  }
}

.pokemon-image {
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 400px;
    height: 400px;
    object-fit: contain;
  }
}

.pokeball {
  height: 5vh;
  width: 5vh;
  top: 0%;
  left: 60%;
  cursor: pointer;
  transition: transform 0.4s;

  & img {
    height: 100%;
    width: 100%;
    padding: 0;
  }

  &:hover {
    transform: scale(1.5);
  }
}

.opacity {
  opacity: 0.4;
}

.z-index {
  z-index: 100;
}
